@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
  background-color: #18122B;
  width:100%;
  max-width: 100%;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.time{
  position: absolute;
  top:0;
  right:0;
  padding:25px;
}

a{
  text-decoration: none;
  color:#474E68;
}

.modals{
  display:flex;
  gap:10px;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}
.modal-image{
  width:200px;
  height:200px;
}
.modal-content{
  width:200px;
  height: 200px;
}
.modal-content a:hover{
  border-bottom: 3px solid #DDFFBB;
}

.modal-content2{
  width:96px;
  height: 200px;
}

.modal-content2 a img:hover{
  border-bottom: 3px solid #DDFFBB;
}